{% extends "base.html.twig" %}
{% block body %}
    <div class="row" style="margin: 20px;"></div>
    <div class="row">
        <div class="col-md-4" style="background-color: darkseagreen">
            {{ form_start(lightForm) }}
            {{ form_widget(lightForm) }}
            {{ form_end(lightForm) }}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4" style="background-color: darkseagreen">
            {{ form_start(colorForm) }}
            {{ form_widget(colorForm) }}
            {{ form_end(colorForm) }}
        </div>
    </div>
    <div class="row" style="margin: 20px;"></div>
    <div class="row">
        <div class="col-md-2">
            <form action="{{ path('yeelight-toggle') }}">
                <button class="btn-danger btn">Toggle power</button>
            </form>
            <br>
        </div>
        <div class="col-md-2">
            <a href="{{ path('yeelight-reset') }}" class="btn-primary btn">Žuži <3</a>
        </div>
    </div>


{% endblock %}

{% block title %}

{% endblock %}
